<app-alert [message]="alertMessage" *ngIf="alertMessage" (close)="onClosed()"></app-alert>

<div *ngIf="!selectedFlight" class="alert alert-warning text-center">
  <p>No flight selected. Please check the route or data source.</p>
</div>

<div *ngIf="selectedFlight" class="container-fluid">
  <div class="row">
    <!-- Seats Table Column -->
    <div class="col-md-3">
      <table id="seatsTable" class="table">
        <tbody>
          <tr *ngFor="let seatNumber of firstCoulmn">
            <td class="seat-number">{{ seatNumber }}</td>
            <td class="seat-image">
              <img
                [src]="getSeatImage(seatNumber)"
                alt="Seat"
                class="img-fluid seat-icon"
                (click)="onSeatClick(seatNumber)"
                [ngStyle]="checkInBg(seatNumber)"
                style="cursor: pointer"
              />
            </td>
            <td class="seat-image">
              <img
                [src]="getSeatImage(seatNumber + 10)"
                alt="Seat"
                class="img-fluid seat-icon"
                (click)="onSeatClick(seatNumber + 10)"
                [ngStyle]="checkInBg(seatNumber + 10)"
                style="cursor: pointer"
              />
            </td>
            <td class="seat-number">{{ seatNumber + 10 }}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- Legend and Passenger Details Column -->
    <div class="col-md-6">
      <!-- Legend Table -->
      <table id="legends" class="table">
        <thead>
          <tr>
            <th>Icon</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><img src="../../../../../assets/PassengerLarge.png" alt="CheckedIn" class="img-fluid legend-icon" /></td>
            <td>CheckedIn</td>
          </tr>
          <tr>
            <td><img src="../../../../../assets/PassengerLarge.png" alt="Yet To Check In" class="img-fluid legend-icon" /></td>
            <td>Yet To Check In</td>
          </tr>
          <tr>
            <td><img src="../../../../../assets/WheelChair.png" alt="Wheel Chair" class="img-fluid legend-icon" /></td>
            <td>Wheel Chair</td>
          </tr>
          <tr>
            <td><img src="../../../../../assets/InfantLarge.png" alt="Infant" class="img-fluid legend-icon" /></td>
            <td>Infant</td>
          </tr>
          <tr>
            <td><img src="../../../../../assets/ArmChairLarge.png" alt="Empty Seat" class="img-fluid legend-icon" /></td>
            <td>Empty Seat</td>
          </tr>
        </tbody>
      </table>

      <!-- Passenger Details Section -->
      <div *ngIf="this.passenger" class="passenger-details mt-3">
        <h4 style="text-align: center">Check In Details</h4>
        <table class="table table-sm">
          <tbody>
            <tr>
              <th>Seat:</th>
              <td>{{ this.passenger.seatNo }}</td>
            </tr>
            <tr>
              <th>Passenger Name:</th>
              <td>{{ this.passenger.name }}</td>
            </tr>
            <tr>
              <th>Checked In:</th>
              <td>{{ this.passenger.checkedIn ? 'Yes' : 'No' }}</td>
            </tr>
          </tbody>
        </table>
      </div>

      <!-- Confirm Button -->
      <button class="btn btn-primary btn-block mt-3" (click)="confirmAllChanges()">
        Confirm Changes
      </button>
    </div>
  </div>
</div>
