<app-alert [message]="alertMessage" *ngIf="alertMessage" (close)="onClosed()"></app-alert>
<div class="row">
  <div class="col-md-4">
    <h3>Ancillary Services</h3>
    <input class="form-control" type="text" [(ngModel)]="ancillaryText" placeholder="Add ancillary service">
    <button class="btn btn-primary mt-2" (click)="ancillaryClick()">Add</button>
    <ul class="list-group mt-3">
      <li *ngFor="let ancillary of ancillaryServices" class="list-group-item">
        {{ ancillary }}
        <button class="btn btn-danger btn-sm float-right" (click)="removeItem(ancillary, 'ancillary')">Remove</button>
      </li>
    </ul>
  </div>
  <div class="col-md-4">
    <h3>Shopping Services</h3>
    <input class="form-control" type="text" [(ngModel)]="shoppingItemsText" placeholder="Add shopping service">
    <button class="btn btn-primary mt-2" (click)="shoppingClick()">Add</button>
    <ul class="list-group mt-3">
      <li *ngFor="let item of shoppingServices" class="list-group-item">
        {{ item }}
        <button class="btn btn-danger btn-sm float-right" (click)="removeItem(item, 'shopping')">Remove</button>
      </li>
    </ul>
  </div>
  <div class="col-md-4">
    <h3>Meal Services</h3>
    <input class="form-control" type="text" [(ngModel)]="mealText" placeholder="Add meal service">
    <button class="btn btn-primary mt-2" (click)="mealsClick()">Add</button>
    <ul class="list-group mt-3">
      <li *ngFor="let meal of mealServices" class="list-group-item">
        {{ meal }}
        <button class="btn btn-danger btn-sm float-right" (click)="removeItem(meal, 'meals')">Remove</button>
      </li>
    </ul>
  </div>
</div>
<br/>
<div class="row" style="text-align: center;">
<button type="button" class="btn btn-success" (click)="onConfirm()">Confirm Changes</button>
</div>