<br />
<app-alert [message]="alertMessage" *ngIf="alertMessage" (close)="onClosed()"></app-alert>
<div class="row">
  <div class="col-md-4">
    <button class="btn btn-primary mb-3" (click)="newPassenger()">New Passenger</button>
    <select class="form-control" [(ngModel)]="filterText">
      <option value="">-- Passengers Missing --</option>
      <option value="passport">Passport Details</option>
      <option value="address">Address Details</option>
      <option value="dob">Date Of Birth</option>
    </select>
  </div>  
</div>
<br />
<div *ngIf="(passengers | passengerMasterFilter: filterText)?.length === 0">
  <h3>No Passengers Found</h3>
</div>
<div class="row">
    <div class="col-xs-5">
        <a
            style="cursor: pointer"
            *ngFor="let passenger of passengers | passengerMasterFilter: filterText"
            (click)="passengerClick(passenger)"
            class="list-group-item clearfix"
        >
            <div style="cursor: pointer">
                <h4 class="list-group-item-heading">{{ passenger.name }}</h4>
                <p class="list-group-item-text">
                    {{ 'Seat Number : ' + passenger.seatNo }}
                </p>
                <p class="list-group-item-text">
                    {{
                        'Ancillary Services : ' +
                            (passenger.ancillaryServices.join(', ') || 'NA')
                    }}
                </p>
            </div>
        </a>
    </div>
    <div class="col-xs-6" *ngIf="selectedPassenger || newFlag">
        <div class="row">
            <div
                class="col-xs-12 col-md-12 col-md-offset-3"
                style="background-color: #fff0fd"
            >
                <h3 style="text-align: center">Passenger Details</h3>
                <hr />
                <form
                    *ngIf="passengerForm"
                    [formGroup]="passengerForm"
                    (ngSubmit)="onSubmit()"
                >
                    <div class="row">
                        <div class="col-xs-12 form-group">
                            <label for="name">Name</label>
                            <input
                                type="text"
                                id="name"
                                name="name"
                                class="form-control"
                                formControlName="name"
                            />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 form-group">
                            <label for="passport">Passport</label>
                            <input
                                type="text"
                                id="passport"
                                name="passport"
                                class="form-control"
                                formControlName="passport"
                            />
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12 form-group">
                            <label for="address">Address</label>
                            <input
                                type="text"
                                id="address"
                                name="address"
                                rows="6"
                                class="form-control"
                                formControlName="address"
                            />
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12 form-group">
                            <label for="dob">Date Of Birth</label>
                            <input
                                type="date"
                                id="dateOfBirth"
                                name="dateOfBirth"
                                rows="6"
                                class="form-control"
                                formControlName="dateOfBirth"
                            />
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12 form-group">
                            <label for="seatNo">Seat No</label>
                            <select
                                id="seatNo"
                                name="seatNo"
                                class="form-control"
                                formControlName="seatNo"
                            >
                                <option value="-1">-- Available Seats --</option>
                                <option
                                    *ngFor="let emptySeat of emptySeats"
                                    [ngValue]="emptySeat"
                                >
                                    {{ emptySeat }}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 form-group">
                            <label for="splRequest">Special Request</label>
                            <input
                                type="text"
                                id="splRequest"
                                name="splRequest"
                                rows="6"
                                class="form-control"
                                formControlName="splRequest"
                            />
                        </div>
                    </div>

                    <div class="row" style="text-align: center">
                        <div class="col-xs-12">
                            <button
                                [disabled]="!passengerForm.valid"
                                class="btn btn-success"
                                type="submit"
                            >
                                Save
                            </button> |
                            <button
                                class="btn btn-primary"
                                type="button"
                                (click)="onCancel()"
                            >
                                Cancel
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <br />
    </div>
</div>