.passenger-details-card {
  border: 1px solid #ced4da;
  background-color: #fafbff;
}

.passenger-table th {
  width: 45%;
  text-align: right;
  padding-right: 16px;
  vertical-align: middle;
}

.passenger-table td {
  width: 55%;
  font-weight: 600;
}

.passengerValue {
  padding-left: 5px;
  text-align: left;
}

    