<div class="flights-container">
  <div class="flights-list">
    <div *ngFor="let flight of flights; let i = index" class="flight-item" (click)="onFlightSelect(i)">
      <div class="flight-header">
        <h4 class="flight-name">{{ flight.name }}</h4>
        <span class="flight-time">{{ flight.departureTime | date: 'shortTime' }}</span>
      </div>
      <div class="flight-route">
        <span class="departure">{{ flight.departure }}</span>
        <span class="arrow">➜</span>
        <span class="arrival">{{ flight.arrival }}</span>
      </div>
    </div>
  </div>
</div>
