<div class="row">
            <br />
    
            <div class="row">
                <div class="col-xs-12">
                    <a
                        style="cursor: pointer"
                        *ngFor="let flight of flights; let i = index"
                        (click)="onFlightSelect(i)"
                        routerLinkActive="active"
                        class="list-group-item clearfix"
                    >
                        <div style="cursor: pointer">
                            <h4 class="list-group-item-heading">{{ flight.name }}</h4>
                            <p class="list-group-item-text">
                                {{ flight.departure }}
                                <span class="glyphicon glyphicon-arrow-right"></span>
                                {{ flight.arrival }}
                                <span class="pull-right">{{
                                    flight.departureTime | date: 'shortTime'
                                }}</span>
                            </p>
                        </div>
                    </a>
                </div>
            </div>   
    </div>
    